<h1 class="head-line title_h2 text-center p-5">
  次回のライブは　<b><%= @admin.event_date.strftime("%m/%d") %></b>　です！<br/>
  <br/>
  <b><%= @admin.deadline.strftime("%m/%d") %></b>　までに曲出しをお願いいたします！
</h1>

<div class="text-center p-5">
  <% if current_user.present? %>
    <% @music = Music.where(user_id: current_user.id) %>
    <% if current_user.musics.exists? %>
      <% @music.each do |music| %>
        <%= link_to edit_music_path(music.id), class: "btn btn-lg bg-dark rounded-pill text-info" do %>
          <b>曲出しをする</b>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_music_path, class: "btn btn-lg bg-dark rounded-pill text-info" do %>
        <b>曲出しをする</b>
      <% end %>
    <% end %>
  <% else %>
  <% end %>
</div>