<h2 class="head-line title_h2 text-center">
  次回のライブは〜〜〜です！<br/>
  〜〜〜までに曲出しをお願いいたします！
</h2>

<div class="text-center p-5">
  <%= link_to new_music_path, class: "btn btn-lg bg-dark rounded-pill text-info" do %>
    <b>曲出しをする</b>
  <% end %>
</div>
