@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: "MS Pゴシック" ;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  background-image: url("/assets/blob-scatter-haikei.png");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  flex: 1;
  padding: 40px 0;
}

header {
  background: #000033;
}

footer {
  background: #000033;
}

.field_with_errors {
  display: contents;
}

.link {
    text-decoration: none;
    color: white ;
}

.timetable {
  background: #CCFFFF;
}