<div class="footer02">
  <ul class="menu">
    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-line"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
    <li>　　<i class="fa-regular fa-envelope"></i>お問い合わせ</li>
  </ul>
  <p class="copyright">&copy; 2023 kyokudashi</p>
</div>